body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
    font-size: 10px;
}

#main {
    margin: 0;
    height: 100vh;
    width: 85%;
    display:inline-block;
    float:right;
    background-image: url("images/background2.jpg");
    background-size: cover;
    z-index: -2;
    transition: rotate(1080deg);
    transition-duration: 5000ms;
}

#side {
    font-size: 10px;
    height: 100vh;
    width: 15%;
    background-image: url(images/background3.jpg);
    background-size:contain;
    display:inline-block;

}

.sidebar_style{
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 3px solid white;
    border-radius:10px;
    background-color: #6a6969;
}

.score {
    text-align: center;
    margin-top: 5vh;
    height: 15%;
    width: 100%;
}

#DJ1, #DJ2 {
    margin-top: 10vh;
    height: 15%;
    width: 48%;
    border: 3px solid black;
    text-align: center;
    display: inline-block
}

.score_number, .player_turn {
    height: 100%;
    border: 3px solid black;
}

.gamesquare {
    display: inline-block;
    margin:1px;
    background-color: rgba(102,0,0,.5);

}

.gamesquare3 {
    height: 150px;
    width: 150px;
}

.gamesquare9 {
    height: 50px;
    width: 50px;
}

.gamesquare20 {
    height: 20px;
    width: 20px;
}

.playerX {
    margin-top: 10%;
    background: url(images/playerX.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.playerO {
    background: url(images/playerO.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.front_page {
    font-size: 10px;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(images/background1.gif);
    background-size:cover ;
    z-index: 10;
}

.button {
    line-height: 100px;
    text-align: center;
    font-weight: bolder;
    bottom:10%;
    right: 30%;
    height: 250px;
    width: 250px;
    position:absolute;
    font-size: 20px;
    color:whitesmoke;
    font-style: italic;
    border: 65px rgb(20,20,20) solid;
    border-radius: 100%;
    background-color:white;
    background-image: url(images/buttonBackground.jpg);
    background-size:contain;
    transition-duration: 1s;
}

.button:hover{
    transform: rotate(10800deg);
    transition-duration: 20s;
    cursor: pointer;
}

.input_name {
    padding:0;
    padding-top:115px;
    padding-left:80px;
    color:orangered;
    font-weight: bolder;
    font-style: italic;
    font-size:25px;
    position: absolute;
    height: 200px;
    width: 350px;
    background-color: rgba(255,255,255, 0);
    background-image: url(images/backstagepass.png);
    background-size: cover;
    border: none;
    transform: rotate(-20deg);
    transition-duration: 300ms;
}
.input_name:hover {
    z-index: 10;
    transform: rotate(5deg);
}

::-webkit-input-placeholder {
    color: orangered;
}

#player1_name {
    top: 5%;
    left: 2.5%;
}

#player2_name {
    top: -5%;
    left: 20%;
}
#three{
    top: 5%;
    right: 5%;
}
#nine{
    top:18%;
    right:5%
}
#twenty{
    top:30%;
    right:5%;
}
.board_size{
    line-height:60px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    height: 60px;
    width: 300px;
    color: orangered;
    font-weight:bolder;
    font-style:italic;
    background-color: rgba(255,255,255,.7);
    border-radius: 30px;
    transition-duration: .5s;
}
#three:hover {
    margin-right: 50px;
    border: 3px orangered solid;
    box-sizing: border-box;
    cursor: pointer;

}
#nine:hover {
    margin-right: 50px;
    border: 3px orangered solid;
    box-sizing: border-box;
    cursor: pointer;
}
#twenty:hover {
    margin-right: 50px;
    border: 3px orangered solid;
    box-sizing: border-box;
    cursor: pointer;
}

.gameboard{
    position: absolute;
    right: 6%;
    top:10%;
    z-index: 2;
}
#canvas{
    position: absolute;
    bottom:0;
    right:0;
}
.sidebar_column{
    width:48%;
    display:inline-block;
}