body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
    font-size: 10px;
}
header {
    height: 15%;
    text-align: center;
    font-size: 300%
}

footer {
    height: 3vh;
    text-align: center;
    font-size: 80%;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
}

#main {
    margin: 0;
    height: 91vh;
    width: 75vw;
    background-color: lavender;
    position: relative;
    left: 25%;
    padding: 0;
}

#side {

    height: 91vh;
    width: 25vw;
    background-color: pink;
    position: absolute;

}

#game_header {
    font-size: 150%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.score {
    text-align: center;
    margin-top: 5vh;
    height: 15%;
    width: 100%;
}

#DJ1, #DJ2 {
    margin-top: 10vh;
    height: 15%;
    width: 48%;
    border: 3px solid black;
    text-align: center;
    display: inline-block
}

.score_number, .player_turn {
    height: 100%;
    border: 3px solid black;
}

.gamesquare {
    display: inline-block;
    border: 2px solid black;
}

.gamesquare3 {
    height: 150px;
    width: 150px;
}

.gamesquare9 {
    height: 50px;
    width: 50px;
}

.gamesquare20 {
    height: 30px;
    width: 30px;
}

.playerX {
    margin-top: 10%;
    background: url(images/playerX.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.playerO {
    background: url(images/playerO.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.front_page {
    font-size: 10px;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: red;
    z-index: 1;
}

.button {
    top:10%;
    left: 30%;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    background-color: blue;
    position:absolute;
}

.input_name {
    position: absolute;
    height: 30px;
    width: 90px;
}

#player1_name {
    top: 30%;
    left: 30%;
}

#player2_name {
    top: 35%;
    left: 30%;
}
#three{
    top: 5%;
    left: 80%;
}
#nine{
    top:15%;
    left:80%
}
#twenty{
    top:25%;
    left:80%;
}
.board_size{
    position: absolute;
    border: 5px solid black;
    height: 60px;
    width: 60px;
    background-color: pink;
}