body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper {
    font-size: 10px;
}

#main {
    margin: 0;
    height: 100vh;
    width: 85%;
    display:inline-block;
    float:right;
    background-image: url("images/background2.jpg");
    background-size: cover;
    z-index: -2;
    transition: rotate(1080deg);
    transition-duration: 5000ms;
}

#side {
    font-size: 10px;
    height: 100vh;
    width: 15%;
    background-image: url(images/background3.jpg);
    background-size:contain;
    display:inline-block;

}

.sidebar_style{
    text-align: center;
    padding: 0;
    border-radius:10px;
    height: 10%;
    width: 50%;
    margin:auto;
    margin-top: 30px;
    border: 5px solid red;
    color:white;
    font-weight: bolder;
    font-style: italic;
    font-size:20px;
    background-color: rgba(50,50,50,.95);
}

.score {
    text-align: center;
    margin-top: 5vh;
    height: 15%;
    width: 100%;
}

#DJ1, #DJ2 {
    height: 10%;
    width: 50%;
    text-align: center;
    margin:auto;
    margin-top: 30px;
    color:white;
    font-weight: bolder;
    font-style: italic;
    font-size:25px;

}

.score_number, .player_turn {
    height: 100%;
    border: 3px solid black;
}

.gamesquare {
    display: inline-block;
    margin:2px;
    background-color: rgba(50,50,50,.5);
}
.gamesquare:hover{
    cursor: pointer;
}
.gamesquare3 {
    height: 175px;
    width: 175px;
}

.gamesquare9 {
    height: 60px;
    width: 60px;
}

.gamesquare20 {
    height: 25px;
    width: 25px;
}

.playerX {
    background: url(images/playerX.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 90%;
    margin:auto;
    margin-top: 5%;
}

.playerO {
    background: url(images/playerO.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 90%;
    margin: auto;
}

.front_page {
    font-size: 10px;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(images/background1.gif);
    background-size:cover ;
    z-index: 10;
}

.button {
    line-height: 100px;
    text-align: center;
    font-weight: bolder;
    bottom:10%;
    right: 5%;
    height: 250px;
    width: 250px;
    position:absolute;
    font-size: 20px;
    color:white;
    font-style: italic;
    border: 65px rgb(20,20,20) solid;
    border-radius: 100%;
    background-image: url(images/buttonBackground.jpg);
    background-size:contain;
    transition-duration: 1s;
}

.button:hover{
    transform: rotate(10800deg);
    transition-duration: 20s;
    cursor: pointer;
}

.input_name {
    padding:0;
    padding-top:115px;
    padding-left:80px;
    color:orangered;
    font-weight: bolder;
    font-style: italic;
    font-size:25px;
    position: absolute;
    height: 200px;
    width: 350px;
    background-color: rgba(255,255,255, 0);
    background-image: url(images/backstagepass.png);
    background-size: cover;
    border: none;
    transform: rotate(-20deg);
    transition-duration: 300ms;
}
.input_name:hover {
    z-index: 10;
    transform: rotate(5deg);
}

::-webkit-input-placeholder {
    color: orangered;
}

#player1_name {
    top: 5%;
    left: 2.5%;
}

#player2_name {
    top: -5%;
    left: 20%;
}
#three{
    top: 4%;
    right: 13%;
}
#nine{
    top:17%;
    right:7%
}
#twenty{
    top:30%;
    right:2%;
}
.board_size{
    line-height:60px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    height: 60px;
    width: 300px;
    color: orangered;
    font-weight:bolder;
    font-style:italic;
    background-color: rgba(255,255,255,.6);
    border-radius: 30px;
    transition-duration: .5s;
    border: 3px orangered solid;
    box-sizing: border-box;
}
#three:hover {
    cursor: pointer;
    background:white;
}
#nine:hover {
    cursor: pointer;
    background:white;
}
#twenty:hover {
    cursor: pointer;
    background:white;
}

.gameboard{
    position: absolute;
    right:10%;
    top:10%;
    z-index: 2;
}
#canvas{
    position: absolute;
    bottom:0;
    right:0;
}
.sidebar_column{
    width:48%;
    display:inline-block;
}
#title{
    font-style: italic;
    text-decoration:underline;
    color:orangered;
    font-weight: bolder;
    position: absolute;
    bottom: 9%;
    transform: rotate(10deg);
    background-color: rgba(0,0,0,.9);
}
#title h1{
    font-size: 75px;
}

.buttonClicked{
    background-color: white;
    border-color: red;
    color:red;
    border-width: 5px;
    margin-right: 50px;
}
.winner{
    height:700px;
    width:700px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    color:white;
    font-size: 80px;
    font-weight:bolder;
    font-style:italic;
    border: 200px rgb(20,20,20) solid;
    border-radius: 100%;
    background-image: url(images/buttonBackground.jpg);
    background-size:contain;
    text-align: center;
    padding-top: 25px;
    z-index: 5;
    display: none;
}
.reset{
    border:3px solid white;
    font-size: 20px;
    border-radius: 20px;
    background-color:rgba(255,255,255,.3)
}
.reset:hover{
    cursor:pointer;
    background-color:rgba(255,255,255,.7)
}

h1{
    text-align: center;
    color:red;
    font-weight: bolder;
    font-style: italic;
    font-size:50px;
}
#resetGame:hover{
    cursor:pointer;
}