body {
    margin: 0;
    padding:0;
}
header {
    height: 15%;
    text-align: center;
    font-size: 300%
}
footer {
    height: 3vh;
    text-align: center;
    font-size: 80%;
    position:fixed;
    bottom: 0;
    width: 100%;
    color: black;
}
#main {
    margin: 0;
    height: 91vh;
    width: 75vw;
    background-color: lavender;
    position: relative;
    left: 25%;
    padding:0;
}
#side{

    height: 91vh;
    width: 25vw;
    background-color: pink;
    position: absolute;

}
#game_header{
    font-size: 150%;
    text-align: center;
    padding:0;
    margin: 0;
}
.time{
    height: 8%;
    width: 100%;
    background-color: green;
}